body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #header{
    text-align: center;
  }

  #header h4{
    font-weight: normal;
  }
  
  #chat-container {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #chat-log {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  #chat-input {
    display: flex;
    justify-content: space-between;
  }
  
  textarea#user-input {
    width: 80%;
  }
  
  button#submit-btn {
    width: 15%;
  }
  
  button#download-log {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#download-log:hover {
    background-color: #3e8e41;
  }

  button#clear-log {
    display: block;
    margin-right: 50px;
    margin-left: auto;
    padding: 10px 20px;
  }
  
  .bot, .user {
    margin-bottom: 5px;
  }
  
  .bot {
    color: #1e90ff;
  }
  
  .user {
    color: #32cd32;
  }
  